/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2019, 7:03:00 PM
    Author     : Sgo
*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /*stay in front*/
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    padding-top: 8%; /* Place content 60px from the top */
    display: none;
    opacity: 1.0;
}

.sidenav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 4%;
    width: 100%;
    height: 15%;
    text-decoration: none;
    font-size: 17px;
}

.sidenav a:hover {
    background-color: #5dade2;
    color: black;
}

.sidenav a.active {
    background-color: #5dade2;
    color: white;
}

#navbuttonClose {
    display: none;
    background-color: #5dade2;
}

#navbuttonOpen {
    display: block;
    background-color: #5dade2;
}

#navbuttonOpenContainer {
    padding-top: 8%; /* Place content 60px from the top */
    float: left;
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 0;
    z-index: 1; /*stay in front*/
}
